<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="SPAPIEntities" connectionString="Data Source=;User Id=;Password=;Initial Catalog=;TrustServerCertificate=" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<!--Production Amazon SP API Keys-->
		<add key="AmazonAuthAPIHost" value="https://api.amazon.com/"/>
		<add key="AccessKey" value="AKIATOJKGKPTDFNK****"/>
		<add key="SecretKey" value="gDXdkGojmqXEEsS+2KgbDLJ8dJmT0a3iHnHG****"/>
		<add key="ClientId" value="amzn1.application-oa2-client.05ae79ff12ea4e33b3460459344****"/>
		<add key="ClientSecret" value="d8c193084467fbb65e5f0230f8ba164168d3eafef60ffa05fac5c7fd866****"/>

		<!--Folders-->
		<add key="FeedFilePathToProcess" value="C:\Work\Upwork\AMTU 1\Feeds\ToProcess"/>
		<add key="FeedFilePathProcessed" value="C:\Work\Upwork\AMTU 1\Feeds\Processed"/>
		<add key="FeedResultFilePath" value="C:\Work\Upwork\AMTU 1\Feeds\Results"/>
		<add key="ReportsFilePath" value="C:\Work\Upwork\AMTU 1\Reports"/>

		<!--Refresh Tokens-->
		<add key="RefreshToken_NA" value=""/>
		<add key="RefreshToken_EU" value=""/>
		<add key="RefreshToken_ForEast" value=""/>

		<!--https://developer-docs.amazon.com/sp-api/docs/marketplace-ids-->
		<add key="MarketplaceIds_NA" value="US|ATVPDKIKX0DER"/>
		<add key="MarketplaceIds_EU" value="DE|A1PA6795UKMFR9"/>
		<add key="MarketplaceIds_ForEast" value="JP|A1VC38T7YXB528"/>

		<add key="OrdersCreatedInLastXHours" value="24"/>

	</appSettings>
</configuration>
